body {
  font: normal small-caps normal 14px cursive;
  margin: 3px;
  padding: 1px;
  background-image: linear-gradient(
      to bottom,
      rgba(42, 248, 238, 0.795),
      rgba(255, 255, 255, 0.664)
    ),
    url(../img/devset2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 730px;
}

main {
  padding: 5px;
  margin: 5px;
}

header {
  padding: 10px;
}

strong {
  font-size: large;
  font-weight: bolder;
  color: green;
}

ul {
  list-style-type:circle;
  margin: 5px;
  padding: 0;
}

nav li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  color: rgb(44, 39, 39);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(110, 113, 238);
}

h3 {
  margin-left: 3px;
  margin: 5px;
}
h4 {
  color: green;
  margin: 5px;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 33%;
  margin-top: 10px;
}

.center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 5px;
}

.top {
  position: relative;
  overflow: hidden;
  margin: 5px;

}

.right {
  float: right;
  margin: 5px;

}

ol {
  list-style-type: style;
  margin: 5px;
  padding: 5px;
  margin: 5px;
  
}


